In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("shots_data.csv")

In [31]:
df

       team     x     y  fgmade
0    Team A -23.1   3.5       0
1    Team A   0.0  25.1       1
2    Team A   0.5   1.0       1
3    Team A  -5.6   5.2       0
4    Team A   4.0  14.5       1
..      ...   ...   ...     ...
555  Team B   7.8  24.7       0
556  Team B  10.1   1.4       1
557  Team B -17.8  -0.1       0
558  Team B  22.6   2.9       0
559  Team B  -0.7  14.7       1

[560 rows x 4 columns]

In [100]:
def Test_shots(x):                         # define which zone the shot was in.
    if (22.0<=x["x"] or x["x"] <=-22.0) and (x["y"]<=7.8): 
        return "Corner three"              # define the area of corner three
    else:
        if(x['x']**2+x['y']**2)>23.75**2:
            return"Non corner three"             # define the area of non corner three
        else:
            return"Two pointer"            # define the area of regular two pointers

In [101]:
df_zone = df.apply(Test_shots, axis=1).to_frame('zone')             # apply the area partition function to the data

In [102]:
df_zone

                 zone
0        Corner three
1    Non corner three
2         Two pointer
3         Two pointer
4         Two pointer
..                ...
555  Non corner three
556       Two pointer
557       Two pointer
558      Corner three
559       Two pointer

[560 rows x 1 columns]

In [103]:
df_new = pd.concat([df, df_zone], axis=1)

In [104]:
# generate the new dataframe with indicating which area the shot is in
df_new

       team     x     y  fgmade              zone
0    Team A -23.1   3.5       0      Corner three
1    Team A   0.0  25.1       1  Non corner three
2    Team A   0.5   1.0       1       Two pointer
3    Team A  -5.6   5.2       0       Two pointer
4    Team A   4.0  14.5       1       Two pointer
..      ...   ...   ...     ...               ...
555  Team B   7.8  24.7       0  Non corner three
556  Team B  10.1   1.4       1       Two pointer
557  Team B -17.8  -0.1       0       Two pointer
558  Team B  22.6   2.9       0      Corner three
559  Team B  -0.7  14.7       1       Two pointer

[560 rows x 5 columns]

In [105]:
# Shot distribution for Team A:
df_A = df_new[df_new['team'] == 'Team A']
df_B = df_new[df_new['team'] == 'Team B']

In [106]:
df_A_zone = df_A['zone'].value_counts().rename_axis('zone').to_frame('count')
df_A_zone['Shot Distribution %'] = df_A_zone['count']/sum(df_A_zone['count']) *100 
df_A_zone

                  count  Shot Distribution %
zone
Two pointer         170            60.714286
Non corner three     90            32.142857
Corner three         20             7.142857

In [107]:
# Shot distribution for Team B:
df_B_zone = df_B['zone'].value_counts().rename_axis('zone').to_frame('count')
df_B_zone['Shot Distribution %'] = df_B_zone['count']/sum(df_B_zone['count']) *100 
df_B_zone

                  count  Shot Distribution %
zone
Two pointer         163            58.214286
Non corner three     96            34.285714
Corner three         21             7.500000

In [ ]:
# calculate the eFG% for both Team A and Team B

In [150]:
df_A_shot= df_A.groupby(['fgmade','zone'])["team"].count().to_frame('count')
df_B_shot= df_B.groupby(['fgmade','zone'])["team"].count().to_frame('count')

In [159]:
df_A_shot

                         count
fgmade zone
0      Corner three         12
       Non corner three     61
       Two pointer         102
1      Corner three          8
       Non corner three     29
       Two pointer          68

In [214]:
df_B_shot

                         count
fgmade zone
0      Corner three         16
       Non corner three     61
       Two pointer          88
1      Corner three          5
       Non corner three     35
       Two pointer          75

In [222]:
#calculate the eFG% for A Two pointer
eFG_A_2pt = (df_A_shot.loc[1,'Two pointer'].sum())/df_A_shot['count'].sum() *100
eFG_A_2pt

24.285714285714285

In [223]:
#calculate the eFG% for A NC3
eFG_A_nc3 = (df_A_shot.loc[1,'Non corner three'].sum() + df_A_shot.loc[(1,'Non corner three'),:].sum() * 0.5)/df_A_shot['count'].sum() *100
eFG_A_nc3

15.535714285714286

In [224]:
#calculate the eFG% for A C3
eFG_A_nc3 = (df_A_shot.loc[1,'Corner three'].sum() + df_A_shot.loc[(1,'Corner three'),:].sum() * 0.5)/df_A_shot['count'].sum() *100
eFG_A_nc3

4.285714285714286

In [225]:
#calculate the eFG% for B Two pointer
eFG_B_2pt = (df_B_shot.loc[1,'Two pointer'].sum())/df_B_shot['count'].sum() *100
eFG_B_2pt

26.785714285714285

In [226]:
#calculate the eFG% for B NC3
eFG_B_nc3 = (df_B_shot.loc[1,'Non corner three'].sum() + df_B_shot.loc[(1,'Non corner three'),:].sum() * 0.5)/df_B_shot['count'].sum() *100
eFG_B_nc3

18.75

In [227]:
#calculate the eFG% for B C3
eFG_B_nc3 = (df_B_shot.loc[1,'Corner three'].sum() + df_B_shot.loc[(1,'Corner three'),:].sum() * 0.5)/df_B_shot['count'].sum() *100
eFG_B_nc3

2.6785714285714284